@page "/"

<div class="container-fluid pt-md-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="justify-content-md-center">
                <h3><strong>Actionstep API Demonstration App (Web Client)</strong></h3>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="justify-content-md-center pt-md-5">
                <p>
                    Click on the <strong>Sign in</strong> button to get started.
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="justify-content-md-center">
                <p>
                    Use the menu on the left to see the Actionstep API in action.
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="justify-content-md-center pt-md-3">
                <p>
                    The application demonstrates how to interact with the Actionstep API to implement common functionality.
                </p>
                <p>
                    The application is not designed to be used in a live production environment.
                    It is a bare-bones implementation showing how to build requests (both simple and complex) and interpret responses.
                    It represents a collection of building blocks you can use to build more advanced and feature-rich applications.
                </p>
                <p>
                    Please read the <strong>README</strong> file in the GitHub repository for more information.
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row pt-md-5 pb-md-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="justify-content-md-center">
                Additional support is available by contacting the Actionstep <strong><a href="mailto:support@actionstep.com">Global Support Team</a></strong>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row pt-md-5">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="justify-content-md-center pb-md-2">
                <strong>Disclaimer</strong>
            </div>
            <div class="justify-content-md-center">
                <small>
                    THIS SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
                    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
                    WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
                </small>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>