@page "/"

<div class="container-fluid pt-md-3">
    <div class="row justify-content-md-center">
        <h3>Actionstep API Web Client Demonstration App</h3>
    </div>
    <div class="row justify-content-md-center pt-md-5">
        <p>
            Click on the Sign in button to get started.
        </p>
    </div>
    <div class="row justify-content-md-center">
        <p>
            Use the menu on the left to see the Actionstep API in action.
        </p>
    </div>
</div>
